body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.future-forecast {
    overflow-x: scroll;
    flex-wrap: nowrap;
}